body {
  background: #212129;
}

* {
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  text-align: center;
  padding: 0;
}

::selection {
  background: #60dda8;
}

.title {
  color: #fff;
  text-align: center;
}
.title p {
  color: #fff;
  font-size: 1.3em;
}

.title .notice {
  color: #fff;
}
.title .notice span {
  color: #fff;
  font-weight: bold;
  border-bottom: #fff 2px solid;
}

/*STYLES*/
